/* BIO  IMAGE */
#bio::before {
    background-image: url("images/zen.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    z-index: -1;
    width: 120px; 
    height: 120px;
    border-radius: 20px;
    content:"";
    margin: 10px;
}

/* DISCORD IMAGE */

[aria-label="Discord"]::before {
    background-image: url("images/discord.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 40px; 
    height: 40px;
    content:"";
    vertical-align: middle;
    margin-right: 5px;
}

/* REDDIT IMAGE */

[aria-label="Reddit"]::before {
    background-image: url("images/reddit.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 40px; 
    height: 40px;
    content:"";
    vertical-align: middle;
    margin-right: 5px;
}

/* TWITTER IMAGE */

[aria-label="Twitter"]::before {
    background-image: url("images/twitter.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 40px; 
    height: 40px;
    content:"";
    vertical-align: middle;
    margin-right: 5px
}

/* STEAM IMAGE */

[aria-label="Steam"]::before {
    background-image: url("images/steam.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 40px; 
    height: 40px;
    content:"";
    vertical-align: middle;
    margin-right: 5px
}

/* GITHUB IMAGE */

[aria-label="Github"]::before {
    background-image: url("images/github.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 40px; 
    height: 40px;
    content:"";
    vertical-align: middle;
    margin-right: 5px
}

/* EMAIL IMAGE */

[aria-label="Email"]::before {
    background-image: url("images/email.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 40px; 
    height: 40px;
    content:"";
    vertical-align: middle;
    margin-right: 5px
}
