:root {
    /* FONT FAMILY */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: white;
    -webkit-font-smoothing: antialiased;
}

html {
    background:rgb(14, 13, 13);
}
/* MAIN CONTENT */
#main {
    background: rgba(46, 45, 45, 0.781);
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 35px;
    border-radius: 20px;
    padding: 30px;
    border: 1px rgb(124, 124, 124) solid;
    animation: fadeInText 2s;
    -webkit-animation: fadeInText 2s;
    -moz-animation: fadeInText 2s;
    -o-animation: fadeInText 2s;
    -ms-animation: fadeInText 2s;
}
@keyframes fadeInText {
    0% {opacity:0;}
    100% {opacity:1;}
  }
a {
    color: rgb(182, 182, 182);
    text-decoration: none;
}
p {
    color: rgb(224, 224, 224)
}
#hrsmall {
    float: left;
    background: rgba(138, 138, 138);
    border: none;
    width: 100%;
    height: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    
} 

/* BIO */
.bio {
    display: inline-block;
    position: flex
}
.padding {
    padding-left: 10px;
}

button {
    border: none; 
    padding: 8px;
    color: white; 
    background: rgba(61, 61, 61,0.9);
    border-radius: 5px;
}
button:focus {
    border: none; 
    padding: 8px;
    color: white; 
    background: rgba(50, 50, 50,1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}
button:active {
    border: none; 
    padding: 8px;
    color: white; 
    background: rgba(50, 50, 50,1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}


.darklightmodebtn:active {
    background: rgb(44, 44, 44)
}
.darklightmodebtn:focus {
    background: rgb(66, 66, 66)
}


/* MOBILE */

@media only screen and (max-width: 500px) {
    body {
        font-size: 16px;
    }
    #main {
        width: 80%;
        margin: auto;
    }
}
